#header-footer {
    background-color: rgb(95, 55, 187);
    color: white;
}

#github-footer-logo {
    height: 5em;
    width: 5em;
    padding: 1em;
}

.card-header {
    width: 100%;
}

.card {
    margin: 1em;
}

#home-icon {
    height: 2em;
    width: 2em;
}